@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  font-family: Roboto;
  color: rgb(248, 248, 248);
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.text {
    text-align: center;
    align-items: center;
    margin: 3em;
}

body {
    background-image: url("Images/background.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#form {
    background-color: rgba(199, 199, 199, 0.158);
    backdrop-filter: blur(10px);
    border-radius: 2em; 
    max-width: 30em;
    margin: 0.5em auto;
    padding: 1rem;
    font-weight: 600;
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


textarea {
    width: 80%;
    height: 7em;
}

#submit {
    border: 0;
    border-radius: 10px;
    background-color: rgb(248, 248, 248);
    margin: 1.5em 0 1em 0;
    padding: 1.2rem 2rem 1.2rem 2rem;
    font-weight: 900;
    color: rgb(78, 78, 78);
    font-size: 1.2em;
    cursor: pointer;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.11);
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#submit:hover {
    background-color: rgb(223, 223, 223);
}

img {
    width: 8em; 
    margin: 1em;
    padding: 0;
}

#code, #date, #message, #name {
    margin: 0.5em 0 2em 0;
    border-radius: 10px;
    width: 10em;
    height: 2.5em;
    color:black;
    font-size: 1em;
    padding: 1em;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(248, 248, 248);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#message {
    text-align: left;
    width: auto;
    height: 6em;
    margin: 0.5em 0 0 0;
}

label {
    font-size: 1.5em;
}

input[type="radio"] {
    display: none;
}

input + label {
    position: relative;
    display: inline-block;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.288);
    padding: 0.5em 1.2em 0.5em 1.2em;
    margin: 0.5em 0 0 0;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    align-items: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.247);
    cursor: pointer;
}

input[type="radio"]:checked + label{
    background-color: rgb(255, 255, 255);
    color: rgb(78, 78, 78);
}
